In [162]:
import pandas as pd 
from io import StringIO

In [163]:
# Importando dados a partir de uma string

string_tab = '''TIPO	DATA COM	PAGAMENTO	VALOR
RENDIMENTO	31/08/2023	15/09/2023	0,14000000
RENDIMENTO	31/07/2023	14/08/2023	0,12000000
RENDIMENTO	30/06/2023	14/07/2023	0,11000000
RENDIMENTO	31/05/2023	15/06/2023	0,11000000
RENDIMENTO	28/04/2023	15/05/2023	0,13000000
RENDIMENTO	31/03/2023	17/04/2023	0,15000000
RENDIMENTO	28/02/2023	14/03/2023	0,13000000
RENDIMENTO	31/01/2023	14/02/2023	0,13000000
RENDIMENTO	29/12/2022	13/01/2023	0,14000000
RENDIMENTO	30/11/2022	14/12/2022	0,12000000
RENDIMENTO	31/10/2022	16/11/2022	0,14000000
RENDIMENTO	30/09/2022	17/10/2022	0,14000000
'''

string_tab_io = StringIO(string_tab)

df = pd.read_csv(string_tab_io, sep='\t', decimal=',', parse_dates=['DATA COM','PAGAMENTO'], infer_datetime_format=True)

df

          TIPO   DATA COM  PAGAMENTO  VALOR
0   RENDIMENTO 2023-08-31 2023-09-15   0.14
1   RENDIMENTO 2023-07-31 2023-08-14   0.12
2   RENDIMENTO 2023-06-30 2023-07-14   0.11
3   RENDIMENTO 2023-05-31 2023-06-15   0.11
4   RENDIMENTO 2023-04-28 2023-05-15   0.13
5   RENDIMENTO 2023-03-31 2023-04-17   0.15
6   RENDIMENTO 2023-02-28 2023-03-14   0.13
7   RENDIMENTO 2023-01-31 2023-02-14   0.13
8   RENDIMENTO 2022-12-29 2023-01-13   0.14
9   RENDIMENTO 2022-11-30 2022-12-14   0.12
10  RENDIMENTO 2022-10-31 2022-11-16   0.14
11  RENDIMENTO 2022-09-30 2022-10-17   0.14

In [164]:
# Importando dados de HTML's
tabs = pd.read_html('https://pt.wikipedia.org/wiki/Clubes_brasileiros_na_Copa_Libertadores_da_Am%C3%A9rica')

In [165]:
tabs[0]

,Clube,Títulos,Vice Campeonatos,Semifinais (1),Quartas de Finais (2),Oitavas de Finais (3),Fase de Grupos (4),Fase Preliminar (5),Total de Aparições
0,Palmeiras,"3 (1999, 2020 e 2021)","3 (1961, 1968 e 2000)","4 (1971, 2001, 2018 e 2022)","3 (1995, 2009 e 2019)","5 (1994, 2005, 2006, 2013 e 2017)","4 (1973, 1974, 1979 e 2016)",---,23(6)
1,São Paulo,"3 (1992, 1993 e 2005)","3 (1974, 1994 e 2006)","4 (1972, 2004, 2010 e 2016)","3 (2008, 2009 e 2021)","3 (2007, 2013 e 2015)","4 (1978, 1982,1987 e 2020)",1 (2019),21
2,Grêmio,"3 (1983, 1995 e 2017)",2 (1984 e 2007),"5 (1996, 2002, 2009, 2018 e 2019)","4 (1997, 1998, 2003 e 2020)","4 (2011, 2013, 2014 e 2016)","2 (1982, e 1990)",1 (2021),21
3,Santos,"3 (1962, 1963 e 2011)",2 (2003 e 2020),"4 (1964, 1965, 2007 e 2012)","4 (2004, 2005, 2008 e 2017)",1 (2018),2 (1984 e 2021),---,16
4,Flamengo,"3 (1981, 2019 e 2022)",1 (2021),2 (1982 e 1984),"3 (1991, 1993 e 2010)","5 (2007, 2008, 2018, 2020 e 2023)","5 (1983, 2002, 2012, 2014 e 2017)",---,19
5,Cruzeiro,2 (1976 e 1997),2 (1977 e 2009),2 (1967 e 1975),"5 (2001, 2010, 2014, 2015 e 2018)","6 (1994, 1998, 2004, 2008, 2011 e 2019)",---,---,17
6,Internacional,2 (2006 e 2010),1 (1980),"3 (1977, 1989 e 2015)",1 (2019),"4 (2011, 2012, 2020 e 2021)","3 (1976, 1993 e 2007)",---,15(6)
7,Atlético Mineiro,1 (2013),---,2 (1978 e 2021),"3 (2000, 2016 e 2022)","4 (2014, 2015, 2017 e 2023)","3 (1972, 1981 e 2019)",---,13
8,Corinthians,1 (2012),---,1 (2000),"3 (1996, 1999 e 2022)","8 (1991, 2003, 2006, 2010, 2013, 2015, 2016 e ...",2 (1977 e 2023),2 (2011 e 2020),17
9,Vasco da Gama,1 (1998),---,---,"3 (1990, 2001 e 2012)",1 (1999),"4 (1975, 1980, 1985 e 2018)",---,9
10,Athletico Paranaense,---,2 (2005 e 2022),---,---,"5 (2000, 2017, 2019, 2020 e 2023 )",2 (2002 e 2014),---,9
11,Fluminense,---,1 (2008),---,"3 (2012, 2013 e 2021)",1 (2011),2 (1971 e 1985),1 (2022),9(6)
12,São Caetano,---,1 (2002),---,1 (2004),1 (2001),---,---,3
13,Botafogo,---,---,2 (1963 e 1973),1 (2017),1 (1996),1 (2014),---,5
14,Guarani,---,---,1 (1979),---,1 (1988),1 (1987),---,3
15,Bahia,---,---,---,2 (1960 e 1989),---,---,1 (1964),3
16,Criciúma,---,---,---,1 (1992),---,---,---,1
17,Sport,---,---,---,---,1 (2009),1 (1988),---,2
18,Fortaleza,---,---,---,---,1 (2022),---,1 (2023),2
19,Goiás,---,---,---,---,1 (2006),---,---,1
20,Paraná,---,---,---,---,1 (2007),---,---,1
21,Paysandu,---,---,---,---,1 (2003),---,---,1
22,Coritiba,---,---,---,---,---,2 (1986 e 2004),---,2
23,Chapecoense,---,---,---,---,---,1 (2017),1 (2018),2
24,América Mineiro,---,---,---,---,---,1 (2022),---,1
25,Bangu,---,---,---,---,---,1 (1986),---,1
26,Juventude,---,---,---,---,---,1 (2000),---,1
27,Náutico,---,---,---,---,---,1 (1968),---,1
28,Paulista,---,---,---,---,---,1 (2006),---,1
29,Red Bull Bragantino,---,---,---,---,---,1 (2022),---,1
30,Santo André,---,---,---,---,---,1 (2005),---,1

In [166]:
# Importando dados de Excel com população por estado 
df_pop = pd.read_excel("dados\estimativa_dou_2020.xls", sheet_name='BRASIL E UFs', skiprows=1, skipfooter=7, usecols=['BRASIL E UNIDADES DA FEDERAÇÃO', 'POPULAÇÃO ESTIMADA'])

# Importando dados de gastos 
df_gastos = pd.read_csv(
    "C:\\Users\\corpc34475\\OneDrive - CVC Brasil Operadora e Agencia de Viagens S.A\\projetos\\estudo\\pos-tech-data-analytics\\fase_1\\analise_exploratoria_de_dados\\aula_5\\A150850189_28_143_208 (1).csv", 
    sep=';', 
    encoding='latin', 
    skiprows=3,
    skipfooter=12,
    na_values=['-'],
    decimal=','
)

C:\Users\corpc34475\AppData\Local\Temp\ipykernel_16932\3896088153.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_gastos = pd.read_csv(

In [167]:
# Renomeando colunas
df_pop.columns = ['uf','populacao_estimada']

In [168]:
# Removendo linhas com dados do Brasil e regiões
df_pop_estados = df_pop[~((df_pop['uf'].str.contains("Região")) | (df_pop['uf'] == 'Brasil'))].reset_index(drop=True)

In [169]:
# Tratando colunas
df_pop_estados['populacao_estimada'] = df_pop_estados['populacao_estimada'].astype('str').str.replace(pat='\(\d*\)', repl='', regex=True).str.replace(pat='.', repl='', regex=True).astype('int')

# Adicionando uma coluna na primeira posição do DF
df_gastos.insert(loc=0, column='uf', value=df_gastos['Unidade da Federação'].str.replace(pat='^\d*\s', repl='', regex=True), allow_duplicates=True)

In [179]:
# Adicionando estimativa da população ao DF de gastos
df_complete = df_gastos.set_index('uf').join(other=df_pop_estados.set_index('uf'), on='uf', how='left').reset_index()

In [187]:
pd.options.display.float_format = '{:.2f}'.format

In [190]:
df_plot = df_complete[['uf','2021/Ago','populacao_estimada']].set_index('uf')

In [191]:
df_plot

                        2021/Ago  populacao_estimada
uf
Rondônia              7371334.84             1796460
Acre                  1196754.85              894470
Amazonas             13806958.66             4207714
Roraima               2907871.07              631181
Pará                 20837865.89             8690745
Amapá                 1875241.91              861773
Tocantins             2304080.49             1590248
Maranhão             25779674.83             7114598
Piauí                15220885.72             3281480
Ceará                35650007.47             9187103
Rio Grande do Norte  16809169.29             3534165
Paraíba              16167879.55             4039277
Pernambuco           71625844.36             9616621
Alagoas              11393875.70             3351543
Sergipe               4636420.57             2318822
Bahia                61645689.06            14930634
Minas Gerais        139157823.59            21292666
Espírito Santo       27127454.08             4064052
Rio de Janeiro       94137361.39            17366189
São Paulo           301986341.98            46289333
Paraná               91187722.64            11516840
Santa Catarina       48884998.15             7252502
Rio Grande do Sul    74954589.62            11422973
Mato Grosso do Sul   11302985.98             2809394
Mato Grosso          19849249.43             3526220
Goiás                44939821.34             7113540
Distrito Federal     22156437.60             3055149