In [13]:
import pandas as pd

In [14]:
df = pd.read_csv(
    "pos-datascience-analise-e-exploracao-de-dados-Dados\A150850189_28_143_208 (1).csv", 
    encoding='latin',
      sep=';', 
      skiprows=3, 
      skipfooter=12,
      decimal=',',
      thousands='.',
      na_values=['-']
)

C:\Users\corpc34475\AppData\Local\Temp\ipykernel_12264\1842923076.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(

In [15]:
df.head(5)

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
0,11 Rondônia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10045624.39,10677245.18,18147121.02,17753851.45,17659855.79,14435903.47,11834435.10,7371334.84,1682801.60,1.088060e+09
1,12 Acre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4175526.06,5282655.42,5699597.78,5002272.59,4326882.24,3458187.11,2302711.01,1196754.85,NaN,4.752903e+08
2,13 Amazonas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27406458.57,22341042.63,27923786.94,24515920.09,23973537.71,22175398.40,21614943.55,13806958.66,5292323.36,2.061943e+09
3,14 Roraima,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3557821.99,4172285.82,5427226.70,4192540.54,3681417.80,3475205.55,3320807.96,2907871.07,1496814.75,3.525463e+08
4,15 Pará,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39042349.46,37113440.70,49625416.13,52558327.29,50907226.77,43876590.47,33718084.12,20837865.89,4620263.03,4.968812e+09

In [16]:
df.tail(13)

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2021/Jan,2021/Fev,2021/Mar,2021/Abr,2021/Mai,2021/Jun,2021/Jul,2021/Ago,2021/Set,Total
14,28 Sergipe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.276518e+07,1.174258e+07,1.875020e+07,1.913666e+07,1.972061e+07,1.500772e+07,7.751833e+06,4.636421e+06,1.509496e+06,1.313873e+09
15,29 Bahia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.821380e+07,9.687808e+07,1.178162e+08,1.159290e+08,1.342297e+08,1.205161e+08,9.569190e+07,6.164569e+07,2.485828e+07,1.049850e+10
16,31 Minas Gerais,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.928442e+08,1.838915e+08,2.613767e+08,2.555458e+08,2.751518e+08,2.497139e+08,1.947341e+08,1.391578e+08,6.001094e+07,2.189955e+10
17,32 Espírito Santo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.066491e+07,3.952997e+07,5.761866e+07,5.803185e+07,5.734537e+07,4.813767e+07,3.655087e+07,2.712745e+07,1.191690e+07,3.710942e+09
18,33 Rio de Janeiro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.034684e+08,8.751876e+07,1.257351e+08,1.329651e+08,1.453727e+08,1.249090e+08,1.136609e+08,9.413736e+07,4.313306e+07,1.113187e+10
19,35 São Paulo,40243.16,11449.99,34583.77,68556.52,39809.34,19904.67,19904.67,34532.4,23374.12,...,3.614271e+08,3.528464e+08,5.029056e+08,5.044272e+08,5.481127e+08,5.031610e+08,4.043732e+08,3.019863e+08,1.305353e+08,4.429079e+10
20,41 Paraná,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.305328e+08,1.340772e+08,1.726362e+08,1.740403e+08,1.918616e+08,1.635809e+08,1.194080e+08,9.118772e+07,3.266088e+07,1.567216e+10
21,42 Santa Catarina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.523857e+07,8.203412e+07,9.258141e+07,8.997693e+07,1.016615e+08,9.305577e+07,7.053197e+07,4.888500e+07,1.848646e+07,8.392939e+09
22,43 Rio Grande do Sul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.159919e+08,1.267303e+08,1.696877e+08,1.453025e+08,1.550843e+08,1.428123e+08,1.128054e+08,7.495459e+07,2.520035e+07,1.361334e+10
23,50 Mato Grosso do Sul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.472700e+07,2.560076e+07,3.250618e+07,3.310106e+07,3.688563e+07,3.159520e+07,2.071197e+07,1.130299e+07,2.445267e+06,2.516383e+09
24,51 Mato Grosso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.888971e+07,2.154459e+07,3.579084e+07,3.753402e+07,3.785947e+07,3.493713e+07,2.936420e+07,1.984925e+07,7.325068e+06,2.386584e+09
25,52 Goiás,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.263870e+07,4.571547e+07,7.446406e+07,6.863041e+07,6.946733e+07,6.716235e+07,5.789129e+07,4.493982e+07,1.886037e+07,5.380179e+09
26,53 Distrito Federal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.448472e+07,2.415606e+07,3.639103e+07,3.564176e+07,3.243456e+07,2.719646e+07,2.626552e+07,2.215644e+07,1.317381e+07,2.778457e+09

In [17]:
df.dtypes

Unidade da Federação     object
1992/Mar                float64
1992/Abr                float64
1993/Mai                float64
1993/Dez                float64
                         ...
2021/Jun                float64
2021/Jul                float64
2021/Ago                float64
2021/Set                float64
Total                   float64
Length: 293, dtype: object

In [18]:
# Tirando a média das colunas
df.mean()

C:\Users\corpc34475\AppData\Local\Temp\ipykernel_12264\3346268648.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

1992/Mar    4.024316e+04
1992/Abr    1.144999e+04
1993/Mai    3.458377e+04
1993/Dez    6.855652e+04
1994/Jan    3.980934e+04
                ...
2021/Jun    7.759041e+07
2021/Jul    6.084629e+07
2021/Ago    4.388572e+07
2021/Set    1.912632e+07
Total       6.852321e+09
Length: 292, dtype: float64

In [19]:
# Alterando o formatação de número científico para decimal com 2 casas decimais
pd.options.display.float_format = '{:.2f}'.format

In [20]:
df.mean()

C:\Users\corpc34475\AppData\Local\Temp\ipykernel_12264\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

1992/Mar        40243.16
1992/Abr        11449.99
1993/Mai        34583.77
1993/Dez        68556.52
1994/Jan        39809.34
                ...
2021/Jun     77590406.47
2021/Jul     60846287.01
2021/Ago     43885716.30
2021/Set     19126320.76
Total      6852320913.49
Length: 292, dtype: float64